.header {
    grid-area: h;
    background-color: navy;
}

.header img {
    width: 60px;
}

.loginBlock {
    float: right;
}

.loginBlock a {

    color: white;
}

.login {
    color: white;
    margin-right: 10px;
    margin-top: 15px;
}
