.nav {
    grid-area: n;
    background-color: orangered;
    text-align: center;
    padding: 40px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
